body {
    background:none repeat scroll 0 0 #FFFFFF;
    border:0 none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

table, th, td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	padding: 5px;
	line-height: 1.6;
	border-spacing: 20px;
}

th {
	text-align: left;
}

tr {
	-webkit-tap-highlight-color: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333333;
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
}

tr.active {
	background-color: #f5f5f5;
}

input[type=submit] {
	font-size: 16px;
	font-weight: 500;
	padding: 5px 30px 5px;
	background-color: peachpuff;
	color: black; 
	border-radius: 4px;
	border: 2px solid peachpuff;
}
input[type=submit]:hover {
	font-size: 16px;
	background-color: white;
	color: black;
	border: 2px solid peachpuff;
}

a.button {
	font-size: 16px;
	font-weight: 500;
	padding: 5px 30px 5px;
	background-color: peachpuff;
	color: black; 
	border-radius: 4px;
	border: 2px solid peachpuff;
	margin-left: auto;
	margin-right: auto;
}

a.button:hover {
	font-size: 16px;
	background-color: white;
	color: black;
	border: 2px solid peachpuff;
}

div.instructions-box {
	margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    border: solid #bce8f1 1px;
}

div.box-header {
	-webkit-tap-highlight-color: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	box-sizing: border-box;
	padding: 1px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

div.box-body {
	-webkit-tap-highlight-color: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333333;
	box-sizing: border-box;
	padding: 15px;
}

#instructions
{
    width: 800px;
    line-height: 1.6;
}

#experiment_frame
{
    margin-left: auto;
    margin-right: auto;
    width:750px;
    height: 500px;
    border: solid lightblue 5px;
}

#header
{
	height: 120px;
}

#left_cat
{
	font-size: 1.5em;
	margin: 15px;
	float: left;
}

#right_cat
{
	font-size: 1.5em;
	margin: 15px;
	float: right;
}

#exp_instruct
{
    margin: 15px;
}

#under_instruct
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 700px;
}

.itemdiv
{
	margin-left: auto;
	margin-right: auto;
}

.IATitem
{
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	display: none;
}

#word {
	width: 100px;
	max-height: 115px;
	text-align: center;
	padding-top: 85px;
}
#wrong
{
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	display: none;
}